Source: dateh
Section: unknown
Priority: optional
Maintainer: Paul Dreik <github@pauldreik.se>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8
Homepage: https://github.com/HowardHinnant/date
Vcs-Git: https://github.com/HowardHinnant/date.git
Vcs-Browser: https://github.com/HowardHinnant/date

Package: dateh
Architecture: all
Depends: 
Description: date.h library from Howard Hinnant
 C++ header only library to represent and
 manipulate dates.
